/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
========================================
Grid
========================================
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  margin: 0 auto;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%; }

.primary-header {
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto; }

/*
==================================
HEADER STYLES
==================================
*/
header {
  background: url("../assets/backgrounds/hero.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 780px; }

.primary-header {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  color: #ffffff; }

.primary-header-top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px; }

.site-primary-nav-section {
  display: flex;
  flex-direction: row; }

#primary-navigation nav ul {
  display: flex;
  flex-direction: row; }

#primary-navigation nav ul li {
  padding-right: 30px;
  margin-right: 30px; }

.primary-header-lower-section,
.primary-nav-mission,
.primary-nav-description {
  display: flex;
  flex-direction: column;
  align-items: center; }

.primary-nav-mission {
  font-size: 60px;
  padding: 10px;
  margin-bottom: 50px; }

.primary-nav-description {
  font-size: 20px;
  line-height: 1.5rem; }

.primary-header-lower-section-statements {
  padding: 5px;
  margin-bottom: 250px; }

.primary-nav-mouse-click img {
  padding: 10px; }

.product-category-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  height: 120px;
  background-color: #c6bfa5; }

.product-category form {
  display: flex;
  flex-direction: row; }

.product-category div {
  padding: 10px;
  margin: 10px; }

.product-category-button button {
  padding: 10px 20px;
  margin: auto 30px;
  border: none;
  border-radius: 2.5px;
  color: #ffffff;
  background-color: #661a00; }

.product-section {
  padding-left: 50px;
  padding-right: 50px;
  margin: 20px auto; }

.product-upper-section-product-area {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.site-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f5f5f7;
  padding: 20px 30px;
  width: 280px;
  height: 320px; }

.site-product-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.site-product-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px; }

.product-upper-section,
.product-lower-section {
  padding: 10px;
  margin: 10px 20px; }

.site-product-details h3 {
  color: #c6bfa5;
  font-weight: 400; }

.about-us-section {
  background: url("../assets/backgrounds/about.jpg");
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff; }

.about-us-section h3 {
  font-size: 20px;
  padding: 10px;
  margin-bottom: 30px; }

.about-us-content {
  text-align: center; }

.about-us-section p {
  font-size: 22px;
  line-height: 1.5rem; }

.first-sale-call-to-action {
  padding-left: 50px;
  padding-right: 50px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #535154;
  font-size: 18px;
  color: #ffffff; }

.first-sale-call-to-action img {
  height: 20px;
  margin-right: 40px; }

/*# sourceMappingURL=styles.css.map */
